<!doctype html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cafe - Biling Invoice</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'adminpages/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/orange logo.jpg' %}">


    <link rel="stylesheet" href="{% static 'adminpages/vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminpages/vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminpages/vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'adminpages/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminpages/vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'adminpages/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminpages/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="{% static 'adminpages/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'w3.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="content mt-3" style="width:750px;margin:auto;">
        <div class="card">
            <div class="card-header">
                <strong>Biling Invoice</strong><small> For {{ orderid|safe }}</small>
                <button style="float:right;" onclick="window.print();"class="btn btn-primary">Print</button>
            </div>
            <div class="card-body card-block">
               <div style="padding:20px;"class="row">
                <div style="padding:20px;width:50%;"class="column"><img style="width:100px;border-radius:10px;"src="{% static 'img/orange logo.jpg' %}">
                </div>
                <div style="width:50%;padding:20px;"class="column">
                    <h1 style="float:right;font-weight:bold;">INVOICE</h1>
                </div>
               </div> 
               <div style="padding-right:20px;padding-left:20px;"class="row">
                    <div style="padding:20px;width:50%;"class="column">
                        <p style="color:black;">
                            {% for x in customerdata %}
                            <span style="font-size:25px;font-weight:bold;">{{ x.Name|safe }}</span><br>
                            <span style="font-size:18px;">{{ x.Email|safe }}, +91-{{ x.Mobile|safe }}</span><br><span style="font-size:18px;">{{ x.Address|safe }}</span><br>
                            <span style="font-size:18px;">{{ x.City|safe }}, {{ x.State|safe }}</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div style="padding:20px;width:50%;"class="column">
                        <table style="width:250px;float:right;font-size:18px;">
                            <tr>
                                <td>Date</td>
                                <td style="font-weight:bold;">: {{ date|safe }}</td>
                            </tr>
                            <tr>
                                <td>Payment Mode</td>
                                <td style="font-weight:bold;">: By {{ paymode|safe }}</td>
                            </tr>
                            <tr>
                                <td>Payment ID</td>
                                <td style="font-weight:bold;">: {{ payid|safe }}</td>
                            </tr>
                            <tr>
                                <td>Order ID</td>
                                <td style="font-weight:bold;">: {{ orderid|safe }}</td>
                            </tr>
                        </table>
                    </div>
               </div>
               <div style="padding:20px;"class="row">
                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">SR No.</th>
                                            <th scope="col">Item Name</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Rate</th>
                                            <th scope="col">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for x in items %}
                                        <tr>
                                            <th scope="row">{{ x.sr|safe }}</th>
                                            <td>{% if not x.discount == '0' %}
                                                {{ x.name|safe }} 
                                                with {{ x.discount|safe }}% Discount
                                                {% else %}
                                                {{ x.name|safe }}
                                                {% endif %}
                                            </td>
                                            <td>{{ x.quantity|safe }}</td>
                                            <td><i class="fa fa-inr"></i>{{ x.rate|safe }}</td>
                                            <td><i class="fa fa-inr"></i>{{ x.total|safe }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
               </div>
               <div style="padding:20px;"class="row">
                    <div style="width:100%;"class="column">
                        <table style="margin-right:10px;width:500px;font-size:18px;float:right;">
                            <tr>
                                <td style="font-weight:bold;">TOTAL</td>
                                <td style="font-weight:bold;">: <i class="fa fa-inr"></i>{{ amount|safe }}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">CGST {{ tax|safe }}%</td>
                                <td style="font-weight:bold;">: <i class="fa fa-inr"></i>{{ gst|safe }}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">SGST {{ tax|safe }}%</td>
                                <td style="font-weight:bold;">: <i class="fa fa-inr"></i>{{ gst|safe }}</td>
                            </tr>
                            {% if not promo == None %}
                            <tr style="font-size:20px;">
                                <td style="font-weight:bold;">TOTAL AMOUNT WITH TAX</td>
                                <td style="font-weight:bold;">: <i class="fa fa-inr"></i>{{ taxamount|safe }}</td>
                            </tr>
                            <tr style="font-size:25px;">
                                <td style="font-weight:bold;">TOTAL AMOUNT TO PAY</td>
                                <td style="font-weight:bold;">: <i class="fa fa-inr"></i>{{ amountpaid|safe }}</td>
                            </tr>
                            <tr>
                                <td><span style="font-size:15px;">{{ promo|safe }} PROMOCODE APPLIED</span></td>
                            </tr>
                            {% else %}
                            <tr style="font-size:25px;">
                                <td style="font-weight:bold;">TOTAL AMOUNT</td>
                                <td style="font-weight:bold;">: <i class="fa fa-inr"></i>{{ taxamount|safe }}</td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
               </div>
               <div style="padding:20px;"class="row">
                  <p style="font-size:18px;"><span style="font-weight:bold;">Note :</span> </p>
               </div>
            </div>
        </div>
    </div>
    <!-- Left Panel -->

    
    <!-- Right Panel -->


    <script src="{% static 'adminpages/vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'adminpages/vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'adminpages/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'adminpages/assets/js/main.js' %}"></script>


    <script src="{% static 'adminpages/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminpages/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'adminpages/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'adminpages/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'adminpages/vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'adminpages/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'adminpages/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'adminpages/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'adminpages/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'adminpages/vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'adminpages/assets/js/init-scripts/data-table/datatables-init.js' %}"></script>


</body>

</html>
