<!doctype html>
{% load static %}
<html>
<head>
	<title>Cafe Liant : Mail Bill</title>
	<meta charset="utf-8">
	<meta http-euiv="X-A-Compatible" containt="IE-edge">
	<meta name="viewport" containt="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<div style="text-align:center;">
		<img src="{% static 'img/favicon.png' %}">
		<h1>Billing Invoice</h1>
	</div>
	<div style="width:100%;padding:10px;float:left;">
		<p style="font-size:20px;">
			<span style="font-weight:bold;font-size:25px;">Sonali</span><br>
			<span>Saraswat Enclav</span><br>
			<span>Tundla, India</span><br>
			<span>8756789867, sonalikul@gmail.com</span>
			<table>
			<tr>
				<td>Date :</td>
				<td>02/09/2019</td>

			</tr>
			<tr>
				<td>Payment Mode :</td>
				<td>By Card</td>

			</tr>
			<tr>
				<td>Payment ID :</td>
				<td>NJKU78</td>

			</tr>
			<tr>
				<td>Order ID :</td>
				<td>HJKU67</td>

			</tr>
		</table>
		</p>
	</div>
</body>
</html>