<!doctype html>
{% load static %}
<html>
<head>
	<title>Cafe Liant : Mail Bill</title>
	<meta charset="utf-8">
	<meta http-euiv="X-A-Compatible" containt="IE-edge">
	<meta name="viewport" containt="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<div style="text-align:center;">
		<img style="width:100px;border-radius:10px;"src="{% static 'img/orange logo.jpg' %}">
		<h1>Billing Invoice</h1>
	</div>
	<div style="width:100%;padding:10px;float:left;">
		<p style="font-size:20px;">
			<span style="font-weight:bold;font-size:25px;">Sonali</span><br>
			<span>Saraswat Enclav</span><br>
			<span>Tundla, India</span><br>
			<span>8756789867, sonalikul@gmail.com</span>
			
		</p>
	</div>
	<div style="text-align:center;padding:10px;">
		<span style="text-align:center;font-size:20px;">Date : <span style="font-weight:bold;">09/08/2020</span> | Order ID : <span style="font-weight:bold;">GHY78</span> | Payment ID : <span style="font-weight:bold;">GHTU678</span> | Payment Mode : <span style="font-weight:bold;">By Cash</span></span>
	</div>
	<div style="width:100%;padding:10px;">
		<table style="width:100%;text-align:center;font-size:20px;">
			<tr style="background-color:black;color:white;">
				<th>Sr No.</th>
				<th>Item Name</th>
				<th>Quantity</th>
				<th>Rate</th>
				<th>Amount</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Patties</td>
				<td>2</td>
				<td>25</td>
				<td>50</td>

			</tr>
		</table>
	</div>
	<div style="padding:10px;">
		<table style="float:right;font-size:20px;font-weight:bold;">
			<tr>
				<td>Total : </td>
				<td><i class="fa fa-inr"></i>50</td>
			</tr>
			<tr>
				<td>CGST 5% :</td>
				<td><i class="fa fa-inr"></i>5</td>
			</tr>
			<tr>
				<td>SGST 5% :</td>
				<td><i class="fa fa-inr"></i>5</td>
			</tr>
			<tr>
				<td>Total Including Tax :</td>
				<td><i class="fa fa-inr"></i>60</td>
			</tr>
		</table>
	</div>
</body>
</html>